

body {
    padding-top:60px;
    padding-bottom:60px;

    background: url("https://github.com/julialedur/julialedur.github.io/blob/master/airplanes-congress/style/images/bg-final2.png?raw=true");
    /* background-repeat: repeat-x;
    background-repeat: repeat-y; */
    }


/* choose a light or dark theme to add to the body tag. */
.dark-theme {
    background-color: #33425b;
    color: #d8e9f0;   
}
.light-theme {
    background-color: #EDF2F6;
    color: #000000;    
}

.container {
    max-width: 975px;
}

/* ******** */

.image {
    width: 100%;
}

.a {
    text-decoration: none;
    border-bottom: 0.1rem solid currentColor;
    color: inherit;
    -webkit-transition: color 0.4s, text-shadow 0.4s;
    transition: color 0.4s, text-shadow 0.4s;
  }

.a hover {
    color: #FCCEAA;
    text-shadow: 0 0 0.8rem #FF7770;
  }

::selection {
    text-shadow: 0 0 0.8rem #EF8B8B;
    background: rgba(255, 119, 112, 0.1);
    color: rgb(252, 185, 170);
  }

/* unvisited link */
a:link {
    color: #FCCEAA;
}

/* visited link */
a:visited {
    color: #F03535;
}

/* mouse over link */
a:hover {
    color: #FF7770;
}


/*
super-font
.headline
.kicker
.subhead
.label
.label-text
.credit

sub-font
.date
.body-text
.note
*/



.super-font {
    font-family: 'Source Sans Pro', sans-serif;
}
.sub-font {
    font-family: 'Open Sans', sans-serif;
}



.headline {
    font-size: 3.5rem;
    line-height: 1.0;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.body-text {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.kicker {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.credit  {
    font-size: 1.2rem;
    line-height: 0.75;
    margin-top: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.date {
    font-size: 1rem;
    line-height: 1;
    margin-top: 0.25;
    font-weight: 400;
    font-style: italic;
}

.subhead {
    font-size: 2rem;
    line-height: 0.9;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-weight: 800;
    letter-spacing: -1.5px;
}

.label {
    font-size: 1.8rem;
    line-height: 1.25;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.label-text {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.note {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
.caption  {
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
}


.image {
    margin-top: 40px;
}






