

body {
    padding-top:60px;
    margin: auto;
}


/* choose a light or dark theme to add to the body tag. */
.dark-theme {
    background-color: #2e112d;
    color: #ffdbc5;   
}
.light-theme {
    background-color: #fae3e3;
    color: #3d0240;    
}

.container {
        max-width: 975px;
}

/* ******** */

.image {
    width: 100%;
}


a:link {
    color: #336F81;
}

/* visited link */
a:visited {
    color: #EB6D7B;
}

/* mouse over link */
a:hover {
    color: #8CC6C3;
}

.a {
    text-decoration: none;
    border-bottom: 0.1rem solid currentColor;
    color: inherit;
    -webkit-transition: color 0.4s, text-shadow 0.4s;
    transition: color 0.4s, text-shadow 0.4s;
  }

.a hover {
    color: #DAA646;
    text-shadow: 0 0 0.8rem #DAA646;
  }

::selection {
    text-shadow: 0 0 0.8rem #DAA646;
    background: #DAA646;
    color: #632667;
  }

/*
super-font
.headline
.kicker
.subhead
.label
.label-text
.credit

sub-font
.date
.body-text
.note
*/



.super-font {
    font-family: 'Open Sans', sans-serif;
}
.sub-font {
    font-family: 'Raleway', sans-serif;
}



.headline {
    font-size: 3.3rem;
    line-height: 1.0;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 800;
    letter-spacing: -1.5px;
}

.body-text {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-top: 1.5rem;

}

.kicker {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.credit  {
    font-size: 1.2rem;
    line-height: 0.75;
    margin-top: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.date {
    font-size: 1rem;
    line-height: 1;
    margin-top: 0.25;
    font-weight: 400;
    font-style: italic;
}

.subhead {
    font-size: 2rem;
    line-height: 0.9;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-weight: 800;
    letter-spacing: -1.5px;
}

.label {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.label-text {
    font-size: 1.25rem;
    line-height: 1;
    margin-bottom: 0rem;
    font-weight: 400;
}

.note {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
.caption  {
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
}


.image {
    margin-top: 40px;
}






