

body {
    margin: auto;
}


/* choose a light or dark theme to add to the body tag. */

.light-theme {
    background-color: white;
    color: black;    
}

.black-bg {
    background-color: black;
    color: white;    
}

/* .container {
        max-width: 1000px;
} */

/* ******** */

.image {
    width: 100%;
    align-content: center;
}



/*
super-font
.headline
.kicker
.subhead
.label
.label-text
.credit

sub-font
.date
.body-text
.note
*/



.super-font {
    font-family: 'Crimson Text', serif;
}
.sub-font {
    font-family: 'Noto Serif', serif;
}



.headline {
    font-size: 3rem;
    line-height: 1.0;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 700;
}

.body-text {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 1.5rem;
    font-family: 'Noto Serif', serif;
}

.kicker {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.credit  {
    font-size: 1rem;
    line-height: 0.75;
    margin-top: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4;
}

.date {
    font-size: 1rem;
    line-height: 1;
    margin-top: 0.25;
    font-weight: 400;
    font-style: italic;
}

.subhead {
    font-size: 1.8rem;
    line-height: 0.9;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-weight: 700;
    font-family: 'Libre Franklin', sans-serif;

}

.label {
    font-size: 1.7rem;
    line-height: 1.25;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-family: 'Libre Franklin', sans-serif;
}

.label-text {
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-family: 'Libre Franklin', sans-serif;
}

.note {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
.caption  {
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-weight: 400;
}

h5 {
    margin-bottom: 2rem;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
   }

.intro-pic {
        /* The image used */
        background-image: url(images/bombed_building.jpg);
    
        /* Full height */
        height: 45em; 
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        z-index:1;
    }

/* unvisited link */
a:link {
    color: rgb(225, 225, 225);
}

/* visited link */
a:visited {
    color: #C16351;
}

/* mouse over link */
a:hover {
    color: #C16351;
}



.map-pic {
    /* The image used */
    background-image: url(images/yemen-animated-final.gif);

    /* Full height */
    height: 45em; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index:1;
}

.content {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* .content { -webkit-animation:fadein 0.7s; animation:fadein 0.7s }
@-webkit-keyframes fadein { from {opacity:0} to {opacity:1} }
@keyframes fadein { from {opacity:0} to {opacity:1} } */


.top-left {
    position: absolute;
    top: 200px;
    left: 180px;
    font-family: 'Crimson Text', serif;
    letter-spacing: 0.5cm;
    font-size: 50px;
    font-weight: 700;
  }

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: lightgrey;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }

  /* unvisited link */
a:link {
    color: #a85652;
}

/* visited link */
a:visited {
    color: #a85652;
}

/* mouse over link */
a:hover {
    color: #67919b;
}

.a {
    text-decoration: none;
    border-bottom: 0.1rem solid currentColor;
    color: inherit;
    -webkit-transition: color 0.4s, text-shadow 0.4s;
    transition: color 0.4s, text-shadow 0.4s;
  }

.a hover {
    color: #c69491;
    text-shadow: 0 0 0.8rem #c69491;
  }

::selection {
    text-shadow: 0 0 0.8rem #c69491;
    background: #dbb4b2;
    color: black;
  }